.clear {
    overflow: auto;
}
body {
    margin: 0;
    padding: 0;
}
#title {
    width: 100%;
}
#title ul {
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
    float:right;
}
#title li,#title img {
    float: left;
    line-height: 60px;
}
#title li a {
    display: block;
    width: 7em;
}
#bottom {
    text-align: center;
    height: 5em;
}
#bottom footer{
    line-height: 5em;
}
.article, .pictures, #sidebar {
    width: 95%;
    padding: 1em;
    margin: 2em auto 2em auto;
}
.picture-box {
    margin:3px;
    height:auto;
    width:120px;
    text-align:center;
}
.picture-box img {
    width: 90%;
}
.picture-box.des {
    text-align:center;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
th {
    text-align: left;
}
#sidebar #label {
    margin: 1em;
}
#sidebar .discription {
    float: right;
}
#sidebar .input, #sidebar .tips {
    float: right;
    width: 70%;
    text-align: left;
}
#sidebar .input, #sidebar .tips, #sidebar .discription {
    margin: 0.5em;
}
textarea {
    width: 90%;
    height: 5em;
}
form .btn{
    width: 100%;
    line-height: 2em;
}